<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-4">
           <h1> Examen</h1>
           <p>Platform des évaluations des L'iset tozeur</p>
        </div>
        <!--nav -->
        <div class="col-lg-4">
            <a routerLink="home">Accueil</a>
            <a routerLink="propos">A propos</a>
         
        </div>
        <!--socialmedia-->
        <div class="col-lg-4">
            <a href="https://www.facebook.com/iset.tozeur.officielle" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/iset_tozeur_/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/@isettozeurofficielle1619" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>

</div>

