<div class="container">
  <div class="content">
    <h2>Conseils pour l'examen</h2>
    <p>Voici quelques conseils pour réussir votre examen :</p>
    <ul>
      <li>Prenez le temps de lire attentivement chaque question.</li>
      <li>Gérez bien votre temps pour terminer l'examen dans les délais impartis.</li>
      <li>Ne paniquez pas si vous rencontrez des questions difficiles. Passez à la suivante et revenez-y plus tard si possible.</li>
    </ul>

    <h2>Remarques</h2>
    <p>Assurez-vous de :</p>
    <ul>
      <li>Relire vos réponses si vous avez le temps.</li>
      <li>Ne pas oublier de soumettre votre examen avant la fin du temps imparti.</li>
    </ul>

    <h2>Rappel de limite de temps</h2>
    <p>Vous disposez de 60 minutes pour terminer cet examen.</p>

    <div>
      <!-- Votre contenu de description ici -->
      <button (click)="redirectToFirstQuestion()">Passer </button>

    </div>
  </div>
</div>
